@font-face {
  font-family: cairo;
  src: url("./Cairo-Regular.ttf");
}
@font-face {
  font-family: bcairo;
  src: url("./Cairo-Bold.ttf");
}
@media screen and (min-width: 1100px) {
  .imggg {
    width: 70% !important;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.2s ease !important;
  -webkit-transition: 0.2s ease !important;
  -moz-transition: 0.2s ease !important;
  -ms-transition: 0.2s ease !important;
  -o-transition: 0.2s ease !important;
  font-family: cairo, sans-serif;
  direction: rtl;
}

body {
  background-color: #e5e5e5;
}

::-moz-selection {
  background-color: #5d5b8d;
  color: #f8f9fa;
}

::selection {
  background-color: #5d5b8d;
  color: #f8f9fa;
}

.bold {
  font-family: bcairo;
}

.subText {
  color: #1f1d73 !important;
  font-family: bcairo !important;
}

.sign-main {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-main .sign-square {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 20px 60px;
  gap: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .sign-main .sign-square {
    padding: 20px 40px;
  }
}
.sign-main .sign-square img {
  width: 200px;
}
.sign-main .sign-square .sign-p {
  color: #4e65ad;
  font-size: 12px;
}
.sign-main .sign-square .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sign-main .sign-square .form input {
  padding: 15px;
  border: none;
  border-bottom: #a7bcff 1px solid;
  width: 250px;
}
.sign-main .sign-square .form input:focus-visible {
  outline: 2px solid #a7bcff;
}
.sign-main .sign-square .form .sign {
  border: 1px solid #434265;
  background-color: #899ee2;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.sign-main .sign-square .form .sign:hover {
  background-color: #4e65ad;
}
.sign-main .sign-square .sign-have {
  margin-top: 8px;
  font-size: 14px;
}
.sign-main .sign-square .sign-have a {
  color: #5d5b8d;
}
.sign-main .sign-square .sign-have a:hover {
  color: #4e65ad;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #272727 1px solid;
  padding: 10px;
  z-index: 10;
  position: relative;
}
nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15% !important;
}
nav .logo img {
  width: 80px !important;
}
nav .links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
  flex: 1;
  width: 85% !important;
}
nav .links a {
  text-decoration: none;
  font-family: bcairo;
  color: #4f4bd6;
}
nav .links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 60%;
}
@media screen and (max-width: 1000px) {
  nav .links ul {
    display: none;
  }
}
nav .links ul a {
  padding: 5px;
}
nav .links ul a:hover {
  background-color: #4f4bd6;
  color: white !important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
nav .links .div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}
nav .links .div a {
  border: 0.5px solid #272727;
  padding: 4px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media screen and (max-width: 1000px) {
  nav .links .div a {
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
nav .links .div div {
  width: 1px;
  height: 40px;
  background-color: #272727;
}

.nav-log {
  color: white !important;
  background-color: #4f4bd6;
}
.nav-log:hover {
  color: #4f4bd6 !important;
  background-color: white;
}

.nav-reg {
  color: #4f4bd6 !important;
  background-color: white;
}
.nav-reg:hover {
  color: white !important;
  background-color: #4f4bd6;
}

.menuu {
  cursor: pointer;
}

.menuu:hover {
  color: var(--color-golden) !important;
}

.toggle {
  display: none;
}

@media screen and (max-width: 1000px) {
  .toggle {
    display: flex !important;
    align-items: center;
  }
  .togglec {
    display: none;
  }
}
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #d3d5ff;
  text-align: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  z-index: 5;
}

.nav-overlay .overlay-close {
  font-size: 27px;
  color: #4f4bd6;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 40px;
}

.nav-links-ss {
  list-style: none;
}

.nav-links-ss a {
  margin: 2rem;
  cursor: pointer;
  text-transform: capitalize;
  color: #4f4bd6;
  font-size: 2rem;
  text-decoration: none;
  font-family: bcairo;
}

.nav-links-ss a:hover {
  color: #4f4bd6;
}

.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-bottom {
  0% {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.header {
  height: 90vh;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
    padding: 0.5rem 1rem;
    height: 80vh;
  }
}
.header .header-texts {
  width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .header-texts p, .header .header-texts h2 {
  font-family: bcairo !important;
}
.header .header-texts p {
  margin-top: 1rem;
}
@media screen and (max-width: 1000px) {
  .header .header-texts {
    width: 100%;
    text-align: center;
    flex: 0;
    margin-top: 2rem;
  }
}
.header .header-texts a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: #272727 1px solid;
  margin-top: 2.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header .header-texts a:hover {
  color: white;
  background-color: #4f4bd6;
}
.header .header-img {
  width: 60%;
  opacity: 0.9;
}
@media screen and (min-width: 1500px) {
  .header .header-img {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .header .header-img {
    margin-top: 1rem;
    width: 45% !important;
  }
}
@media screen and (max-width: 600px) {
  .header .header-img {
    width: 70% !important;
  }
}
.header .header-img img {
  width: 100%;
}

.ba {
  background-image: none !important;
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  flex-direction: column;
  margin-top: 3rem;
  background-image: linear-gradient(#f9f9f9, #e5e5e5);
}
@media screen and (max-width: 1000px) {
  .choose {
    padding: 1rem;
  }
}
.choose p {
  font-size: 12px;
}
.choose div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
  gap: 1px;
}
.choose div .area {
  width: 20%;
  height: 100px;
  background-image: linear-gradient(#eee, #d3d5ff);
  border: 1px solid #272727;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: -4px 5px 0px 2px #272727;
}
@media screen and (max-width: 1000px) {
  .choose div .area {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .choose div .area {
    width: 45%;
  }
}

span {
  color: #007fff;
}

.teachers div {
  margin-top: 1rem;
}
.teachers .showmore {
  padding: 1.5px 5px;
  border: 1px solid #272727;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.teachers .showmore:hover {
  color: #e5e5e5;
  background-color: #4f4bd6;
}

.teacher {
  width: 250px !important;
  height: 100px !important;
  border: 1px #272727 solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  margin-top: 0.5rem;
  box-shadow: none !important;
}
.teacher p {
  color: black !important;
}

.details {
  display: flex;
  height: 70vh;
  justify-content: center;
}
.details h1 {
  margin-top: 1rem;
}

.why {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 2rem;
}
.why .bold {
  font-size: 12px;
}
.why .whydiv {
  display: flex;
  align-items: center;
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .why .whydiv {
    flex-direction: column;
  }
  .why .whydiv .img {
    width: 100% !important;
  }
}
.why .whydiv .img {
  width: 50%;
}
.why .whydiv .img img {
  width: 100%;
}
.why .whydiv .detailsw {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .why .whydiv .detailsw {
    width: 90%;
  }
}
.why .whydiv .detailsw div {
  margin-top: 20px;
  background-color: #899ee2;
  padding: 1rem;
  font-size: 24px;
  border-right: 8px solid #272727;
}
@media screen and (max-width: 1000px) {
  .why .whydiv .detailsw div {
    font-size: 20px;
  }
}

.schools p {
  text-align: center;
}
.schools div {
  gap: 15px;
  margin-top: 1rem;
}
.schools div a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #272727;
  color: #4f4bd6;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.schools div a:hover, .schools div a:hover h2 {
  background-color: #4f4bd6;
  color: white !important;
}
.schools .main-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 2rem;
}
.schools .main-sec ul li {
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .schools .main-sec {
    flex-direction: column;
    align-items: center;
  }
  .schools .main-sec section {
    width: 90% !important;
    text-align: center;
  }
  .schools .main-sec .s-sec {
    margin-top: 2rem;
  }
  .schools .main-sec .s-sec img {
    width: 70% !important;
  }
  .schools .main-sec .s-sec a {
    margin-top: 1rem;
  }
}
.schools .main-sec section {
  width: 45%;
}
.schools .main-sec .s-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.schools .main-sec .s-sec img {
  width: 80%;
}
.schools .main-sec .s-sec a {
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #272727;
  color: white;
  background-color: #4f4bd6;
  margin-top: 0.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.schools .main-sec .s-sec a:hover {
  background-color: white;
  color: #4f4bd6 !important;
}

.logoimg {
  width: 10% !important;
}
.logoimg img {
  width: 100%;
}

footer {
  min-height: 30vh;
  background-color: #22223b;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  padding: 1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .nonee {
    display: none;
  }
  footer div {
    width: 90% !important;
    text-align: center;
    margin-top: 1rem;
  }
}
footer div {
  width: 25%;
}
footer div img {
  width: 75%;
}
footer div h3 {
  color: gray;
  font-family: bcairo;
}
footer div ul {
  color: rgb(83, 83, 83);
}
footer div ul a {
  color: #4f4bd6;
  text-decoration: none;
}
footer div ul a:hover {
  color: #413db5;
}
footer .footer-about p {
  color: #899ee2;
}
footer .footer-about a {
  padding: 2px 8px;
  border: #4f4bd6 1px solid;
  text-decoration: none;
  font-family: bcairo;
  color: #4e65ad;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
footer .footer-about a:hover {
  color: #1f1d73;
  background-color: #4e65ad;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .pay .input {
    width: 80% !important;
  }
}
.pay .input {
  width: 60%;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pay .input::-moz-placeholder {
  color: #272727;
}
.pay .input::placeholder {
  color: #272727;
}
.pay .bott {
  text-decoration: none;
  font-family: bcairo;
  padding: 0.25rem 1.5rem;
  border: #272727 1px solid;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pay .bott:hover {
  color: white;
  background-color: #413db5;
}

.select {
  width: 40%;
  margin: 2rem;
}
@media screen and (max-width: 1000px) {
  .select {
    margin-top: 4rem;
  }
}

.teaTable {
  width: 60%;
  text-align: center;
  margin: 1rem auto 3rem auto;
  border-spacing: 0;
}
.teaTable td {
  padding: 2px 6px;
  border: #272727 1px solid;
}
@media screen and (max-width: 600px) {
  .teaTable {
    width: 100% !important;
    font-size: 14px;
  }
}

.our-projects {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our-projects img {
  width: 60%;
  margin: 1rem;
  border: #272727 3px solid;
}
@media screen and (max-width: 600px) {
  .our-projects img {
    width: 90%;
  }
}

.managers {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
@media screen and (max-width: 1000px) {
  .managers {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .managers .mngr {
    width: 90% !important;
    margin-bottom: 2rem;
  }
}
.managers .mngr {
  width: 45%;
  height: 350px;
  background-color: #a7bcff;
  padding: 1rem 2rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.managers .mngr p {
  margin-top: 2rem;
}
.managers .mngr a {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #1f1d73;
  border: #272727 1px solid;
  padding: 3px 6px;
  background-color: #e5e5e5;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.managers .mngr a:hover {
  color: white;
  background-color: #413db5;
}

.mes-cont {
  height: calc(100vh - 74.13px - 75px);
  background-color: #a7bcff;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.mes-cont::-webkit-scrollbar {
  display: none;
}
.mes-cont #mess {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 0.5rem;
}
.mes-cont #mess.come-mes {
  flex-direction: row;
  justify-content: flex-start;
}
.mes-cont #mess .content {
  max-width: 70%;
  background-color: #2e2d45;
  padding: 0 1rem;
  border-radius: 10px 0 10px 10px;
  -webkit-border-radius: 10px 0 10px 10px;
  -moz-border-radius: 10px 0 10px 10px;
  -ms-border-radius: 10px 0 10px 10px;
  -o-border-radius: 10px 0 10px 10px;
  position: relative;
}
.mes-cont #mess .content .name {
  color: #f8f9fa;
  text-align: right;
  font-size: 14px;
}
.mes-cont #mess .content .the-text {
  color: rgba(241, 241, 241, 0.888);
}
.mes-cont #mess .content .date {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #aeaeae;
}
.mes-cont #mess #ur-mes-co {
  background-color: #452fb1;
  border-radius: 0 10px 10px 10px;
  -webkit-border-radius: 0 10px 10px 10px;
  -moz-border-radius: 0 10px 10px 10px;
  -ms-border-radius: 0 10px 10px 10px;
  -o-border-radius: 0 10px 10px 10px;
}
.mes-cont #mess #ur-mes-co .name {
  text-align: left;
}
.mes-cont #mess #ur-mes-co .date {
  text-align: right;
}

.Minput {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: #272727 1px solid;
}
.Minput input {
  width: 80%;
  height: 70%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
}
.Minput button {
  width: 70px;
  height: 45px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #4f4bd6;
  cursor: pointer;
  color: #e5e5e5;
}

.chatAdm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-color: white;
  margin: 2rem auto;
  border: #868686 1px solid;
  padding: 0.5rem;
  gap: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.chatAdm .a {
  width: 90%;
  height: 40px;
  padding: 4px 10px;
  border: #272727 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.chatAdm .a a {
  text-decoration: none;
  width: 80% !important;
  font-family: bcairo;
}

.must {
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
  text-align: center;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  gap: 20px;
  min-height: calc(100vh - 260px - 60px);
}
.courses h1 {
  margin-top: 1rem;
}
.courses form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
}
.courses form input, .courses form button {
  padding: 8px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.courses .videos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.courses .videos .video {
  width: 70%;
}
@media screen and (max-width: 600px) {
  .courses .videos .video {
    width: 90% !important;
  }
}
.courses .videos .video video {
  width: 100%;
}
.courses .videos .theList {
  width: 95%;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.courses .videos .theList .lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d5ff;
  padding: 0.5rem;
  border: 1px #111 solid;
  margin-top: 2px;
}
.courses .videos .theList .lista p {
  margin-right: 20px;
  cursor: pointer;
}
.courses .videos .theList .lista .delete {
  color: red;
  flex: 1;
}
.courses .videos .theList .lista .delete::before {
  cursor: pointer;
}
.courses .videos .theList .upload {
  cursor: pointer;
  border: #452fb1 1px solid;
  width: 100px !important;
  margin: 1rem auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.courses .videos .theList .upload input {
  display: none;
}

.coed {
  text-align: center;
  padding: 1rem;
}
.coed form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.coed form input {
  height: 70%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
}
.coed form .inpu1t {
  width: 80%;
}
.coed form .inpu2t {
  width: 150px;
}
.coed form button {
  text-decoration: none;
  font-family: bcairo;
  padding: 0.25rem 1.5rem;
  border: #272727 1px solid;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.coed form button:hover {
  color: white;
  background-color: #413db5;
}
.coed .theList {
  width: 95%;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.coed .theList .lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d5ff;
  padding: 0.5rem;
  border: 1px #111 solid;
  margin-top: 2px;
}
.coed .theList .lista p {
  margin-right: 20px;
}
.coed .theList .lista .delete {
  color: red;
  flex: 1;
}
.coed .theList .lista .delete::before {
  cursor: pointer;
}
.coed .upload {
  cursor: pointer;
  border: #452fb1 1px solid;
  width: 150px !important;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.coed .upload #upload {
  display: none;
}

.wa1 {
  background-image: url("../asimg/wall3.jpg");
  background-size: cover;
}

.wa2 {
  background-image: url("../asimg/wall.jpg");
  background-size: cover;
}/*# sourceMappingURL=style.css.map */ 